# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/
.venv

# Database
db.sqlite3
*.sqlite3

# Environment variables
.env
.env.local
.env.production

# Static & Media
staticfiles/
media/
uploads/

# IDE
.vscode/
.idea/
*.swp

# Render
.vercel/
vercel.json
cookies.txt

# OS
.DS_Store
Thumbs.db